label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input{
    width: 100px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.form-container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}